<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <label for="question">Ask your coach anything:</label>
    <div class="d-flex">
      <input class="wide" type="text" name="question" placeholder="Your question here!">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
